doctype html
html(ng-app="wc2014mongoMod")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='js/angular/angular.js')
		script(src='js/main.js')
	body
		h1= title
		p Welcome to #{title}
		div(ng-controller="teamCtrl")
			p {{teams}} 
			ul(ng-repeat='team in teams')
				li Name - {{team.name}} Continent - {{team.continent}}
